html {
  background: var(--app-bg-color);
}

.mainBg,
.progrBg,
.designBg {
  background-size: 900px;
}

.mainBg {
  background-image: url('../svg/bg-image-mixed.svg');
  background-position: center;
}

.progrBg {
  background-image: url('../svg/bg-image-progr.svg');
}

.designBg {
  background-image: url('../svg/designBg.svg');
}

.header,
.footer {
  height: var(--header-footer-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-footer-padding);
}

.footer {
  padding-bottom: 15px;
}

.header {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100vw;
  box-shadow: var(--header-shadow);
  background: var(--header-bg-color);
}

button:hover {
  border: 1px solid var(--botton-hover-color);
  color: var(--botton-hover-color);
  transition: 0.5s;
  box-shadow: 0 0 5px var(--botton-hover-color);
  text-shadow: 0 0 5px var(--botton-hover-color);
  cursor: pointer;
}

.menu {
  display: none;
}

.logo {
  width: 15px;
}

.main-logo {
  width: 70px;
  height: 140px;
}

.logo-wrapper {
  height: calc(100vh - var(--header-footer-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-items {
  width: 200px;
  display: flex;
  gap: var(--nav-gap);
}

.nav-items {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item,
.author-name {
  color: var(--text-color);
}

.nav-item:hover,
.author-name:hover {
  background-image: var(--gradient);
  cursor: pointer;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: text-icon-animation 2s alternate infinite;
}

@keyframes text-icon-animation {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

.author-name {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  cursor: pointer;
}

.icon svg path {
  fill: var(--text-color);
}

.icon svg {
  border-radius: 5px;
}

.slider-text {
  transition: opacity 1s ease-in-out;
}

.left {
  left: 100px;
  width: 15vw;
}

.right {
  right: 100px;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.item-wrapper {
  width: var(--item-width);
  height: 270px;
  flex-shrink: 0;
  box-shadow: var(--item-shadow);
  border-radius: 20px;
  background: var(--item-bg-color);
  padding: 16px;
  position: relative;
  border: 1px solid var(--item-bg-color);
}

.item-wrapper:hover {
  border: 1px solid var(--botton-hover-color);
  color: var(--botton-hover-color);
  transition: 0.5s;
  box-shadow: 0 0 5px var(--botton-hover-color);
  text-shadow: 0 0 5px var(--botton-hover-color);
  cursor: pointer;
}

.project-image {
  width: 170px;
  height: 180px;
}

.item-list-wrapper .btn-container {
  display: flex;
  justify-content: center;
}

.item-list-wrapper {
  width: calc(var(--item-width) * 3 + 10vw);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: var(--item-gap);
  margin: var(--top-bottom-margin);
}

.right-arrow {
  left: -71px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 45%;
  z-index: 1;
  width: 70px;
}

.left-arrow {
  transform: rotate(180deg);
  right: -71px;
}

.main-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.project-image--full-height {
  width: 250px;
  height: auto;
  background: #d9d9d9;
  box-shadow: var(--item-shadow);
  border-radius: 20px;
}

.project-info-wrapper {
  padding: 0 10vw;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  height: 100vh;
}

.label,
.label-skill {
  background-image: var(--label-gradient);
  cursor: pointer;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: text-icon-animation 5s alternate infinite;
}

.label-skill {
  font-size: 20px;
}

.label-item {
  color: var(--text-color);
}

.desc {
  color: var(--paragraph-color);
}

.project-info,
.aditional-desc {
  color: var(--paragraph-color);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-align: left;
}

.arrow {
  position: absolute;
  z-index: 1;
  right: 94.5%;
  top: 45%;
  transform: rotate(180deg);
  width: 70px;
}

.projects-arrow {
  position: absolute;
  transform: rotate(-90deg);
  top: 105%;
}

.projects-text {
  position: absolute;
  color: var(--heading-text-color);
  top: 110%;
  right: 51%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 35vw;
}

.button-link {
  width: 120px;
  height: 35px;
  border-radius: 50px;
  box-shadow: var(--button-shadow);
  background: var(--item-bg-color);
  color: var(--text-color);
}

.additional-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10vw;
  height: 100vh;
}

.galery-item {
  min-height: 250px;
  height: 250px;
  width: 250px;
  min-width: 250px;
  box-shadow: var(--item-shadow);
}

.galery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
}

.project-info-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-label,
.item-desc {
  color: black;
}

.about-me-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 50vw;
  text-align: justify;
}

.about-me-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.experience-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60vw;
  justify-items: center;
}

.experience-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--exp-first-bg-color);
  border-radius: 50px;
  box-shadow: var(--exp-shadow);
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
}

.experience-container {
  margin: 20px 0;
  position: relative;
}

.experience-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.exp-text {
  width: 50vw;
  margin: 50px 0;
  text-align: center;
}

.experience-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  text-align: justify;
}

.skill-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 150px;
}

.arrow-exp-left {
  position: absolute;
  left: -153px;
}

.arrow-exp-right {
  position: absolute;
  right: -153px;
  transform: rotate(-180deg);
}

.exp-period-left,
.exp-period-right {
  position: absolute;
  top: 5px;
  font-size: 14px;
  font-weight: 600;
  min-width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp-period-left {
  left: -100px;
}

.exp-period-right {
  left: 200px;
}

.exp-text-wrapped {
  width: 162px;
}

.skill-icon {
  width: 50px;
}

.icon-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4vw;
  row-gap: 4vw;
  align-items: center;
  background: var(--skill-color);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--item-shadow);
}

.skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.btn-container {
  width: 200px;
}

@media screen and (max-width: 675px) {
  .project-info,
  .aditional-desc {
    text-align: justify;
  }

  .exp-text {
    text-align: center;
  }

  .projects-text,
  .projects-arrow {
    display: none;
  }

  .mainBg,
  .progrBg,
  .designBg {
    background-size: 400px;
  }

  .arrow {
    display: none;
  }

  .item-list-wrapper {
    width: 500px;
  }

  .author-name,
  .nav-items {
    display: none;
  }

  .menu {
    display: flex;
    width: 26px;
    cursor: pointer;
  }

  .logo-wrapper {
    height: 40vh;
  }

  .footer-wrapper--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-wrapper--mobile {
    height: 250px;
    display: flex;
    padding-top: 60px;
    justify-content: center;
    gap: 80px;
  }

  .nav--mobile,
  .icons--mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-color);
    font-size: 12px;
  }

  .footer-name {
    display: flex;
    margin-bottom: 20px;
  }

  .experience-info {
    width: 80vw;
  }

  .experience-data {
    width: var(--exp-width);
    height: var(--exp-height);
    font-size: 11px;
  }

  .experience-text {
    font-size: 14px;
    width: auto;
  }

  .about-me-wrapper {
    flex-direction: column;
    gap: 70px;
    margin-top: var(--header-footer-height);
    margin-bottom: 100px;
    width: 80vw;
  }

  .exp-text {
    width: 80vw;
  }

  .exp-period-right {
    left: 150px;
  }

  .info {
    width: 80vw;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-photo {
    width: 80vw;
    height: 300px;
  }

  .project-info-wrapper {
    flex-direction: column;
    margin-top: calc(var(--header-footer-height) + 50px);
    height: auto;
  }

  .additional-info-wrapper {
    margin-top: 20px;
  }

  .project-info-label {
    text-align: center;
  }

  .side-menu {
    position: fixed;
    background: var(--header-bg-color);
    height: 100vh;
    width: 60vw;
    top: var(--header-footer-height);
    right: 0;
    box-shadow: var(--side-menu-shadow);
    z-index: 2;
  }

  .side-menu-items {
    padding: var(--side-menu-gaps) 10px;
    display: flex;
    flex-direction: column;
    gap: var(--side-menu-gaps);
  }

  .side-menu-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 40px;
    color: var(--text-color);
    font-weight: 600;
  }

  .side-menu-item:focus,
  .side-menu-item:hover {
    border-radius: 5px;
    background-color: var(--image-slider-bg-color);
    color: var(--exp-sec-bg-color);
    transition: background-color 0.1s ease-in;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  .main-logo {
    width: 40px;
  }

  .label {
    font-size: 22px;
  }

  .skill-icon {
    width: 40px;
  }

  .desc {
    font-size: 16px;
  }

  .galery-item {
    width: 200px;
    min-width: 200px;
    min-height: 200px;
    height: 200px;
  }

  .btn-container {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 675px) and (max-width: 1250px) {
  .main-logo {
    width: 40px;
  }
}

@media screen and (min-width: 1250px) {
  .header {
    height: var(--header-footer-height--large);
  }

  .icon {
    width: var(--icon-size--large);
    height: var(--icon-size--large);
    border-radius: 4px;
  }

  .nav-items {
    width: 230px;
    gap: var(--nav-gap--large);
  }

  .nav-item {
    font-size: var(--author-name--large);
  }

  .logo {
    width: 17px;
  }

  .galery-item {
    min-height: 250px;
    min-width: 250px;
  }
}

@media screen and (max-width: 905px) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
}
