html {
  background: var(--app-bg-color);
}

.header,
.footer {
  height: var(--header-footer-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-footer-padding);
}

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  box-shadow: var(--header-shadow);
  background: var(--header-bg-color);
}

.menu {
  display: none;
}

.logo {
  width: 15px;
}

.main-logo {
  width: 70px;
  height: 140px;
}

.logo-wrapper {
  height: calc(100vh - var(--header-footer-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-items {
  width: 200px;
  display: flex;
  gap: var(--nav-gap);
}

.nav-items {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  font-size: var(--gen-font-size);
}

.nav-item,
.author-name {
  color: var(--text-color);
}

.author-name {
  font-size: var(--author-name);
  display: flex;
  align-items: center;
  font-weight: 500;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 4px;
}

.left {
  left: 100px;
  width: 15vw;
}

.right {
  right: 100px;
}

.item-wrapper {
  width: var(--item-width);
  height: 270px;
  flex-shrink: 0;
  box-shadow: var(--item-shadow);
  border-radius: 20px;
  background: var(--item-bg-color);
  padding: 16px;
  position: relative;
}

.project-image {
  width: 170px;
  height: 180px;
}

.item-list-wrapper .btn-container {
  display: flex;
  justify-content: center;
}

.item-list-wrapper {
  width: calc(var(--item-width) * 3 + 5vw * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: var(--item-gap);
  margin: var(--top-bottom-margin);
}

.main-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.project-image--full-height {
  width: 250px;
  height: 450px;
  background: #d9d9d9;
  box-shadow: var(--item-shadow);
  border-radius: 20px;
}

.project-info-wrapper {
  padding: 0 10vw;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  height: 100vh;
}

.label {
  color: var(--text-color);
}

.desc {
  color: var(--heading-text-color);
  font-style: italic;
}

.project-info,
.aditional-desc {
  color: var(--paragraph-color);
}

.arrow {
  position: absolute;
  z-index: 1;
  right: 94.5%;
  top: 45%;
  transform: rotate(180deg);
  width: 70px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 35vw;
}

.button-link {
  width: 120px;
  height: 35px;
  border-radius: 50px;
  box-shadow: var(--button-shadow);
  background: var(--button-link);
  color: var(--text-color);
}

.additional-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10vw;
}

.galery-item {
  min-height: 250px;
  min-width: 250px;
  background: #d9d9d9;
  box-shadow: var(--item-shadow);
}

.galery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px 0 100px 0;
}

.project-info-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-label,
.item-desc {
  color: black;
}

.about-me-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 50vw;
  text-align: justify;
}

.about-me-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 700px;
  justify-items: center;
}

.experience-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #d9d9d9;
  border-radius: 50px;
  box-shadow: var(--exp-shadow);
  font-size: 14px;
}

.experience-container {
  margin: 20px 0;
}

.experience-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.exp-text {
  width: 50vw;
  margin: 50px 0;
}

.experience-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  text-align: justify;
}

.skill-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 150px;
}

.skill-icon {
  width: 50px;
}

.icon-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4vw;
  row-gap: 4vw;
  align-items: center;
}

.skill {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.btn-container {
  width: 200px;
}

@media screen and (max-width: 675px) {
  .item-list-wrapper {
    width: 500px;
  }

  .author-name,
  .nav-items {
    display: none;
  }

  .menu {
    display: flex;
    width: 26px;
  }

  .logo-wrapper {
    height: 40vh;
  }

  .footer-wrapper--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-wrapper--mobile {
    height: 250px;
    display: flex;
    padding-top: 60px;
    justify-content: center;
    gap: 80px;
  }

  .nav--mobile,
  .icons--mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-name {
    display: flex;
    margin-bottom: 20px;
  }

  .experience-info {
    width: 80vw;
  }

  .experience-data {
    width: var(--exp-width);
    height: var(--exp-height);
    font-size: var(--gen-font-size);
  }

  .experience-text {
    font-size: 14px;
    width: auto;
  }

  .about-me-wrapper {
    flex-direction: column;
    gap: 70px;
    height: 6cqmax;
    margin-top: var(--header-footer-height);
    margin-bottom: 100px;
  }

  .info {
    width: 80vw;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-photo {
    width: 80vw;
    height: 300px;
  }

  .project-info-wrapper {
    flex-direction: column;
    margin-top: calc(var(--header-footer-height) + 50px);
    height: auto;
  }

  .additional-info-wrapper {
    margin-top: 100px;
  }

  .project-info-label {
    text-align: center;
  }

  .side-menu {
    position: fixed;
    background: #787676;
    height: 100vh;
    width: 40vw;
    top: var(--header-footer-height);
    right: 0;
    box-shadow: var(--side-menu-shadow);
  }

  .side-menu-items {
    padding: var(--side-menu-gaps);
    display: flex;
    flex-direction: column;
    gap: var(--side-menu-gaps);
  }

  .side-menu-item {
    padding: 5px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  .main-logo {
    width: 40px;
  }
}

@media screen and (min-width: 675px) and (max-width: 1250px) {
  .main-logo {
    width: 40px;
  }
}

@media screen and (min-width: 1250px) {
  .header {
    height: var(--header-footer-height--large);
  }

  .icon {
    width: var(--icon-size--large);
    height: var(--icon-size--large);
    border-radius: 4px;
  }

  .nav-items {
    width: 230px;
    gap: var(--nav-gap--large);
  }

  .nav-item {
    font-size: var(--author-name--large);
  }

  .logo {
    width: 17px;
  }
}
